<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <p>I am a front-end developer, with over 10 years of experience. With my experience working in digital agencies, I have also obtained an eye for detail and appreciation for design and UX, as well as knowing how to efficiently project manage and work with clients and colleagues successfully.</p>

                    <p>I like to use <a href="http://atomicdesign.bradfrost.com/" target="_blank">Atomic Design Methodology</a> when I build webpages. This methodology promote consistency and scalability. It also allow a developer to speed up their workflow and write code more efficiently because they’re not forced to repeat themselves</p>

                    <p>My front-end build process involves the use of tools such as Sass, Grunt, Gulp, browserify, webpack, and NPM to speed up development.</p>
                    <br>
                    <br>
                    <br>
                    <h4>Work Experience</h4>
                  <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/html5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Interactive Architect @ Mirum Singapore</h4>
                                    <h5 class="subheading">April 2007 – Present</h5>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/flash.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Flash Developer @ IP Technology Solutions Pte Ltd</h4>
                                    <h5 class="subheading">January 2006 – April 2007</h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/computer-chip-512.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Electronics Engineer @ Bizit Technologies Pte Ltd</h4>
                                    <h5 class="subheading">November 2004 – January 2006</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
