<body id="top">
<div id="cv" class="instaFade">
    <div class="mainDetails">
        <div id="headshot">
            <img src="img/liakwee.png" alt="Lee Liak Wee" title="Lee Liak Wee" />
        </div>

        <div id="name">
            <h1 class="">Lee Liak Wee</h1>
            <h2 class="">Front End Developer</h2>
        </div>

        <div id="contactDetails" class="">
            <ul>
                <li>e: <a href="mailto:liakwee@gmail.com" target="_blank">liakwee@gmail.com</a></li>
                <li>w: <a href="http://liakwee.github.io" target="_blank">liakwee.github.io</a></li>
                <li>p: <a href="https://www.behance.net/liakwee" target="_blank">behance.net/liakwee</a></li>
                <li>m: +6597404150</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div id="mainArea">
        <section>
            <article>
                <div class="sectionTitle">
                    <h1>Personal Profile</h1>
                </div>

                <div class="sectionContent">
                    <p>Liak Wee is currently the team lead and Interactive Architect at XM Asia Pacific Singapore. His role includes providing technical consultation and be responsible for meeting development schedules and ensuring the delivered solution meets the technical specifications and design requirements.</p>
                    <p>His experiences include creative conceptualizing and planning, standardizing development code for the team, providing guidelines for development team and aliasing with external resources support.</p>
                    <!-- <p>He has work on brand such as Singapore Tourism Board, Singapore Economic Development Board, Singapore National Library Board, NParks, Pan Pacific Hotel Groups, Hewlett-Packard, Nokia, Nike, Brother, MasterCard, Sony, Royal Caribbean, Seagate, Lien Foundation and DKNY Jeans.</p> -->
                    <p>Besides work, Liak Wee is also an active learner. He loves to read and keep up with the current development trends and techniques.</p>
                </div>
            </article>
            <div class="clear"></div>
        </section>


        <section>
            <div class="sectionTitle">
                <h1>Work Experience</h1>
            </div>

            <div class="sectionContent">
                <article>
                    <h2>Interactive Architect @ MIRUM Singapore (Previously called XM ASIA PACIFIC)</h2>
                    <p class="subDetails">August 2011 - Present</p>
                    <ul class="bulletList">
                        <li>Leading the Front-End Development team.</li>
                        <li>Introduced and setting up build systems(Gulp/Grunt) to the team.</li>
                        <li>Create development framework and structure for the team.</li>
                        <li>Provide technical consultation to project and design team.</li>
                        <li>Managed and plan resources for all key accounts.</li>
                    </ul>
                </article>
                <!-- <br>
                <br>
                <br>
                <br>
                <br>
                <br> -->
                <article>
                    <h2>Senior Rich Media Developer @ XM ASIA PACIFIC</h2>
                    <p class="subDetails">February 2010 – August 2011</p>
                    <ul>
                        <li>Leading Hewlett-Packard, EDB, brother & Diageo account on front-end development.</li>
                        <li>Provide guidance to the junior developer in the team.</li>
                        <li>Provide technical consultation of other team in the company.</li>
                        <li>Involved creating new front-end internal libraries (Flash AS3 and Javascript)</li>
                    </ul>
                </article>

                <article>
                    <h2>Rich Media Developer @ XM ASIA PACIFIC</h2>
                    <p class="subDetails">April 2007 – February 2010</p>
                    <ul>
                        <li>Maintain Hewlett-Packard APAC site and Flash(OOP AS2&amp;3) microsite development.</li>
                        <li>Developed various Nokia campaign Flash(OOP AS2&amp;3) microsite</li>
                    </ul>
                </article>

                <article>
                    <h2>Flash Developer @ IP TECHNOLOGY SOLUTION</h2>
                    <p class="subDetails">January 2006 – April 2007</p>
                    <ul>
                        <li>Developed Flash based Interactive Financial HealthCheck system for AIA insurance and also Flash E-Learning platform to educate insurance agent.</li>
                        <li>Developed Flash component for samsung social site including realtime flash chat, video streaming(RTMP) and photo gallery.</li>
                    </ul>
                </article>

                <article>
                    <h2>Electronics Engineer @ BIZIT TECHNOLOGIES</h2>
                    <p class="subDetails">November 2004 – January 2006</p>
                    <ul>
                        <li>Developed and maintain Cashcard vending machine firmware and software.</li>
                        <li>Developed and maintain quality assurance(QA) data monitoring system for Agilent Technologies and Asahi Glass.</li>
                        <li>Developed and maintain dye weighing system to accurately mix different dye materials to form the correct colour.</li>
                    </ul>
                </article>
            </div>
            <div class="clear"></div>
        </section>


        <section class="clear">
            <div class="sectionTitle">
                <h1>Key Skills</h1>
            </div>

            <div class="sectionContent">
                <ul class="keySkills">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>jQuery Mobile</li>
                    <li>Angular JS</li>
                    <li>PhoneGap</li>
                    <li>Node JS</li>
                    <li>Grunt JS</li>
                    <li>Gulp JS</li>
                    <li>React</li>
                    <li>Handlebars</li>
                    <li>CSS Preprocessor</li>
                    <li>Flash AS 2 &amp; 3(OOP)</li>
                </ul>
            </div>
            <br/>
            <div class="clear"></div>
        </section>

        <section>
            <div class="sectionTitle">
                <h1>Education</h1>
            </div>

            <div class="sectionContent">
                <article>
                  <h2>Diploma in Electronics &amp; Computer Engineering @ Ngee Ann Polytechnic</h2>
                  <p class="subDetails">1997 – 2000</p>
                  <ul>
                      <li>Awarded Best innovative website for Final Year project on Smart Lecture Theater.</li>
                  </ul>
                </article>
            </div>
            <div class="clear"></div>
        </section>

    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50884625-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
