section#contact {
  background-color: #333;
  background-position: center;
  background-repeat: no-repeat;
  .section-heading {
    color: #fff;
  }
  .form-group {
    margin-bottom: 25px;
    input, textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 236px;
    }
  }
  .form-control:focus {
    border-color: $primayColours;
    box-shadow: none;
  }
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
  }
  .text-danger {
    color: #e74c3c;
  }
}

ul.contactlist{
  margin: 0 auto;
  list-style-type: none;
  li{

    color: #fff;
    span{
      display: inline-block;
      // width: 20px;
      height: 20px;
      vertical-align: middle;
      background-size: cover;
      background-position: 0 0;
      background-color: transparent;
      margin-right: 10px;
      /* Hide the text. */
      // text-indent: 100%;
      // white-space: nowrap;
      // overflow: hidden;
      // &.email{
      //   background: url("../img/icons/email.svg") no-repeat;
      // }
      // &.github{
      //  background: url("../img/icons/github_alt.svg") no-repeat;
      // }
    }
  }
}
