
.btn-primary {
  border-color: $primayColours;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: $primayColours;
  &:hover, &:focus, &:active, &.active {
    border-color: $primayColours;
    color: #fff;
    background-color: #fec503;
  }
}

.open .dropdown-toggle.btn-primary {
  border-color: $primayColours;
  color: #fff;
  background-color: #fec503;
}

.btn-primary {
  &:active, &.active {
    background-image: none;
  }
}


.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary {
  &.disabled, &[disabled] {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-primary {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-primary:hover {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-primary:focus {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-primary:active {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-primary {
  &.disabled.active, &[disabled].active {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-primary.active {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-primary .badge {
  color: $primayColours;
  background-color: #fff;
}

.btn-xl {
  padding: 20px 40px;
  border-color: $primayColours;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: $primayColours;
  &:hover, &:focus, &:active, &.active {
    border-color: $primayColours;
    color: #fff;
    background-color: #fec503;
  }
}

.open .dropdown-toggle.btn-xl {
  border-color: $primayColours;
  color: #fff;
  background-color: #fec503;
}

.btn-xl {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.btn-xl {
  &.disabled, &[disabled] {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-xl {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-xl {
  &.disabled:hover, &[disabled]:hover {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-xl:hover {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-xl {
  &.disabled:focus, &[disabled]:focus {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-xl:focus {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-xl {
  &.disabled:active, &[disabled]:active {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-xl:active {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-xl {
  &.disabled.active, &[disabled].active {
    border-color: $primayColours;
    background-color: $primayColours;
  }
}

fieldset[disabled] .btn-xl.active {
  border-color: $primayColours;
  background-color: $primayColours;
}

.btn-xl .badge {
  color: $primayColours;
  background-color: #fff;
}
