
header {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url(../img/header-bg-vignette.jpg);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 100px;
    .intro-lead-in {
      margin-bottom: 25px;
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
    }
    .intro-heading {
      margin-bottom: 25px;
      text-transform: uppercase;
      font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
    }
  }
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 300px;
    .intro-lead-in {
      margin-bottom: 25px;
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
    }
    .intro-heading {
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
    }
  }
}
