
.navbar-default {
  border-color: transparent;
  background-color: #222;
  .navbar-brand {
    font-family: 'Sofadi One', cursive;
    &:hover, &:focus, &:active, &.active {
      color: $primayColourshover;
    }
  }
  .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
  }
  .navbar-toggle {
    border-color: $primayColours;
    background-color: $primayColours;
    .icon-bar {
      background-color: #fff;
    }
    &:hover, &:focus {
      background-color: $primayColours;
    }
  }
  .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
//    padding: 10px 20px;
    &:hover, &:focus {
      outline: 0;
      color: $primayColours;
    }
  }

  .navbar-nav{
    margin-top: 7px;
  }
  .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: $primayColours;
//    border-bottom: 4px solid $primayColours;
    &:hover, &:focus {
      color: #fff;
      background-color: $primayColourshover;
    }
  }
}

@media (min-width: 768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }
    .navbar-nav > .active > a {
      border-radius: 3px;
    }
    &.navbar-shrink {
      padding: 10px 0;
      background-color: #222;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}
